[Bb]in/
[Oo]bj/
publish/
x64/
x86/
[Ll]ogs/
[Tt]emp/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
.idea/
.vscode/

.env
.env.*
appsettings.Development.json
appsettings.*.local.json
appsettings.Production.json
secrets.json
**/appsettings.Development.json